/* *{
	margin: 10 auto;
} */

html {
	font-size: 16px;
}


body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

	
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.8em;
}

p {
	font-size: 0.875em;
	line-height: 1.31em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/

header {
	width: 100%;
	height: 20%;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	
	
	
	
}

header h1 {
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;

	
	
}
header h1 span {
	color: #77a466;
}

header nav {
	margin: 0 auto;
	text-align: center;
	
}
header nav ul {
	
	padding: 0;
}
header nav ul li {
	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 10px;
	display: block;
	
}
header nav ul li a{
	
	text-decoration: none;
	color:#77a466;
}


.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: auto auto;
}
.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;

}
.main-title p {
	text-align: left;
	padding: 0;
	font-size: 1em;
	line-height: 1.56em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;  /* -------- CHANGE THIS TO 33% ON 768PX ------ */
	border-bottom: 1px solid #eee;
	text-align: center;
	/* border-top: 1px solid #eee; */
	
}

.section-one h3 {
	padding: 10px 30px;
}



.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 10px 30px;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 20%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

@media all and (min-width: 768px) {

	header {
		width: 100%;
		height: 20%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
	}

	header nav ul li {
		display: block;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		text-align: left;
		width: 33%;  
		height: 22em;
		border-top: 1px solid #eee;
		margin: 30px auto;
	}

}

@media all and (min-width: 1200px)  {

	header {
		width: 100%;
		height: 20%;
		margin: 50px auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}	

	header h1 {
		width:50%;
		border-bottom: none;
		padding: 0 auto;
		text-align: left;
		
	}

	header nav{
		width: 50%;
	}
	
	.section-one,
	.section-two,
	.section-three{
		border-top: 1px solid #eee;
		height: 15em;
	}
	.section-one h3 {
		padding: 10px auto;
	}
	
	.section-two h3,
	.section-three h3 {
		padding: 10px auto;
	}
	
	.menu {
		list-style: none;
		padding: 10px auto;
	}
	.reviews {
		color: #333;
		font-size: 1em;
		line-height: 1.31em;
		padding: 10px auto;
	}
		
	.address {
		padding: 10px auto;
	}
	header nav ul li {
		display: inline;
	}
		
}

